body {
    background-color: rgb(177, 24, 24);
}

#mainContainer {
    display: flex;
    align-items: center;
    justify-self: center;
    justify-content: center;
    width: 550px;
    height: 550px;
    border: 2px solid black;
    background-color: white;
}

.gridRowContainer {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.gridSquare {
    width: auto;
    box-sizing: border-box;
    /* Resizes item to have 1:1 width and height */
    aspect-ratio: 1/1;
    opacity: 1;
}

#gridSize {
    display: flex;
    justify-self: center;
    margin-bottom: 5px;
}

#buttonContainer {
    display: flex;
    justify-self: center;
    gap: 5px;
}

#monotone {
    justify-self: center;
    margin: 5px 0;
}

#multicolor {
    justify-self: center;
    margin: 5px 0;
}